<% content_for :title, "Home" %>

<div class="row">
  <div class="header-container">
    <div class="header-main-image">
      <h1>Hello World</h1>
      <h3>Welcome to the Huntsman Family website</h3>
    </div>
    <div class="header-sub-images">
      <div>
        <%= image_tag("family-img-2.jpg", size: "190x66") %>
        image one
      </div>
      <div>
        <%= image_tag("family-img-3.jpg", size: "190x66") %>
        image two
      </div>
      <div>
        <%= image_tag("family-img-4.jpg", size: "190x66") %>
        image three
      </div>
    </div>
  </div>

  <h1>Hello World</h1>
</div>
